<section class="resetPassword">
  <div class="content">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordDto" (ngSubmit)="resetPassword()">
      <mat-form-field class="example-form-field">
        <mat-label>Enter Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required>
        <mat-error *ngIf="resetPasswordDto.get('password').errors?.required">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Enter Confirm Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          formControlName="passwordConfirm">
        <mat-error *ngIf="resetPasswordDto.get('passwordConfirm').errors?.required">
          Confirm Password is required
        </mat-error>
        <mat-error *ngIf="resetPasswordDto.get('passwordConfirm').errors?.mustMatch">
          passwordConfirmation, Enter the same password
        </mat-error>
      </mat-form-field>

      <button class="btn btn-danger btn-block mt-2" type="submit">sent request</button>
    </form>
  </div>

</section>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#9344d4d"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">
    {{state}}
  </p>
</ngx-spinner>
